main {
  display: flex;
  justify-content: center;   /* horizontally center all columns */
  align-items: center;       /* vertically center content */
  height: 100vh;             /* fill the viewport */
  gap: 200px;  
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    width: 60%;
    height: 50%;
    border-left: 1px solid black;
    padding-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

input {
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.field, input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px 10px 5px;
    align-self: center;
}

.warning {
    color: #bb383c;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 0px;
}
.register-link {
    color: #C7C5E6;
    font-weight: 600;
}