
.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 300px;
    background-color: #FFE29A;
    padding: 30px;
    border-radius: 20px;
    gap: 15px;
}

.moreInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemImg {
    width: 125px;
}

.purchace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}